@tailwind preflight;
@tailwind components;
.btn {
	@apply .bg-grey .text-black .no-underline .uppercase .py-3 .px-6 .rounded-full .text-xs
}

.btn-blue {
	@apply .bg-blue .text-white
}
@tailwind utilities;

.signup-banner {
	background-image: radial-gradient(circle at 0 100%, #6585b8, #2e4469);
}

.container {
	height: 600px;
	background-image: url('http://via.placeholder.com/250x150'),  url('http://via.placeholder.com/150x50'),  url('http://via.placeholder.com/50x150');
	background-repeat: no-repeat;
	background-position: 0 100%, 0 0, 100% 100%;
}

